{
	"data": {
		"branchName": "${(data.branchName)!""}",
		"loanerNumber": "${(data.loanerNumber)!""}",
		"loans": {
			"materialNumber": "${(data.loans.materialNumber)!""}",
			"returnDate": "${(data.loans.returnDate)!""}"
		}
	}
}
